body {
    background-color: rgb(13, 17, 23);
  }
  
.rounded-b-lg {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bg-gray-900 {
    background-color: rgb(13, 17, 23);
  }
  
.bg-blue {
    background-color: rgb(15 22 33);
  }